<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meeting status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="5">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<h1>Meeting Status</h1>

<p th:text="'This is the meeting status page of location: ' + ${locationId}" />
<p th:text="'The topic of this meeting is: ' + ${meetingTopic}" />
<p th:text="'Minutes left for your meeting: ' + ${minutesLeft}" />
<p th:text="'Seconds left for your meeting: ' + ${secondsLeft}" />

<button th:onclick="'postRequest(\'' + ${startMeetingUrl} + '\');'">
    Start Meeting
</button>

<button th:onclick="'postRequest(\'' + ${stopMeetingUrl} + '\');'">
    Stop Meeting
</button>

<button th:onclick="'postRequest(\'' + ${extendMeetingUrl} + '\');'">
    Extend Meeting
</button>

<script language="javascript">
    function postRequest(url){
        console.log(url)
        $.post(url);
    }
</script>

</body>
</html>
